<header id="main-header" class="fixed top-0 left-0 right-0 z-50 p-4 md:p-6">
    <div class="container mx-auto flex justify-between items-center">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ '/images/rogo.new_transpalent-Photoroom.png' | relative_url }}" alt="{{ site.title | escape }} Logo" class="h-12 md:h-14 w-auto">
        </a>
        <button id="hamburger-button" class="hamburger relative h-8 w-8 z-50 flex flex-col justify-around">
            <span class="w-full"></span><span class="w-full"></span><span class="w-full"></span>
        </button>
    </div>
</header>

<nav id="mobile-nav" class="fixed top-0 left-0 w-full h-full flex justify-center items-center hidden">
    <ul class="text-center space-y-8">
        <li><a href="{{ '/' | relative_url }}" class="nav-item">TOP</a></li>
        <li><a href="{{ '/philosophy.html' | relative_url }}" class="nav-item">PHILOSOPHY</a></li>
        <li><a href="{{ '/collections.html' | relative_url }}" class="nav-item">COLLECTIONS</a></li>
        <li><a href="{{ '/about-regalis-japan.html' | relative_url }}" class="nav-item">ABOUT</a></li>
        <li><a href="{{ '/origin.html' | relative_url }}" class="nav-item">ORIGIN</a></li>
        <li><a href="https://kanta02cer.github.io/regalis-hp/contact.html" class="nav-item">CONTACT</a></li>
        <li><a href="{{ '/journal.html' | relative_url }}" class="nav-item">JOURNAL</a></li>
    </ul>
</nav>